/**
 * override default styles here
 */

* {
	font-family: Arial !important;
}

.navbar
{
	background-color: #726565 !important;
}

ul { list-style-type: none }
li { display: inline-block; align-content: center}